version: '3.8'
services:
  mongodb:
    image: namibo/mongodb:latest
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  api:
    image: namibo/springboot-api:latest
    container_name: springboot-api
    ports:
      - "8080:8080"
    depends_on:
      - mongodb
    environment:
      SPRING_DATA_MONGODB_URI: mongodb://mongodb:27017/servicedesk

volumes:
  mongo-data: